body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: larger;
  font-family: "Roboto", "Lato", sans-serif;
  font-size: 18px;
  color: #374054;
  display: flex;
  margin: 0px;
}

.left {
  width: 5%;
}

.right {
  width: 5%;
}

.middle {
  width: 90%;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .left, .right {
    width: 15%;
  }
  
  .middle {
    width: 70%;
  }
}

@media screen and (min-width: 600px) {
  #tugupdate {
    content:url("../../images/TUG/TUGupdate.jpg");
  }
}