html {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
}

main {
  position: absolute;
}

label {
  background: white;
}

button {
  min-width: 100px;
  min-height: 30px;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
}