@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import 'tailwindcss/variants'; */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* font-['roboto'] */

@layer base {
	body {
		@apply flex min-h-screen flex-col bg-[#f5f5f5] font-sans font-medium text-[#374054] dark:text-[#adbac7];
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	a {
		@apply text-[#0969da]
			dark:text-[#539bf5];
	}

	p {
		@apply py-2 leading-normal;
	}

	img {
		@apply aspect-video w-full object-cover;
	}

	iframe {
		@apply aspect-video w-full;
	}
}

/*
for a checkout toggle:
flex bg-white border-2 border-black w-6 h-4 rounded-lg
  dark:bg-black dark:border-white dark:flex-row-reverse

w-3 h-3 bg-black rounded-lg
    dark:bg-white	*/
